<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beranda</title>
  </head>
  <body>
    <h1>ini beranda</h1>
    <button><a href="/profil">kunjungi profil</a></button>
    <button>
      <a href="/pengalaman">detail pengalaman</a>
    </button>

    <button>
      <a href="/karyawan">karyawan</a>
    </button>
  </body>
</html>
